*.pyc
/.idea
/target
/testing/java/bin
/testing/java/lib
/testing/java/src
/testing/python/_virtualenv
/testing/typescript/node_modules
/testing/typescript/src
/mammoth/py/mammoth
/mammoth/py/_virtualenv
